extends layout

block content
  .jumbotron
    h1= title
    p Welcome to #{title}, an exclusive message board.
    if currentUser
      a(class='btn btn-primary btn-lg' role='button' href='/create') Create new message
  
  each message in messages
    .card.mb-3
      .card-header.d-flex.justify-content-between
          if (isAuthorised && isAuthorised.member)
            div
              p= message.author.fullname
            div
              p #{message.time.toLocaleString('en-US', {year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' })}
          else 
            p Anonymous
      .card-body
        h5(class='card-title')!= message.title
        p(class='card-text')!= message.text
        if (isAuthorised && isAuthorised.admin)
          form(method='POST' action='')
            input(id='message_id' name='message_id' type='hidden' value='#{message._id}')
            button.btn.btn-outline-primary(type='submit') Delete
        




